

body {
    width: 100%;
}

header {
   width:100%;
}

h1 {
    position: relative;
    padding: 30px;
    text-align: center;
    background-color: navy;
    color: white;
    margin-bottom: 0px;
}

.row {
    width:100%;
}

#searchBar {
    padding: 2%;
    border-style: dotted;
}

#forecastArea {
    padding:2%;
    border-style: dotted;
}